body {
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.main-container {
    background: none;
    max-width: 800px;
    width: 90%;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
}

.weather-app {
    background: rgba(255, 255, 255, 0.75);
    margin: 20px auto;
    padding: 40px 60px 35px;
    border-radius: 25px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
    padding-bottom: 30px;
}

form {
    display: flex;
    justify-content: space-between;
}

.search-input {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    color: #033e5d;
    font-weight: 500;
    font-size: 16px;
    padding: 15px;
    padding-left: 30px;
    width: 83%;
    border-radius: 25px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

input::placeholder {
    color: rgba(3, 62, 93, 0.5); /* Color del placeholder */
}

.search-button {
    margin-left: 5px;
    font-size: 16px;
    background: linear-gradient(180deg, #76b9dc, #1f7cad);
    color: white;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    align-items: center;
}

.search-button img {
    margin-right: 5px;
}

main {
    padding: 30px 0 0;
}

.current-temperature {
    font-size: 48px;
    color: #529fc6;
}

.current-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-city {
    color: #529fc6;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}
.current-details {
    display: flex;
    align-items: center;
    color: #033e5d;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

p.current-details {
    margin: 0;
}

.current-details img {
    margin-right: 5px;
}

.current-details strong {
    font-weight: 800;
}

.current-status {
    font-style: italic;
    color: #033e5d;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
}

.current-temperature-icon {
    position: relative;
    top: -8px;
    font-size: 40px;
    margin-right: 10px;
}

.current-temperature-value {
    font-size: 80px;
    font-weight: 500;
}

.current-temperature-unit {
    font-size: 28px;
    font-weight: 600;
    position: relative;
    top: -38px;
}

footer {
    text-align: center;
    padding-top: 15px;
    color: #033e5d;
    font-size: 13px;
}

a {
    color: #033e5d;
    font-weight: bold;
}

/* Media queries para dispositivos móviles */

@media (max-width: 768px) {
    .main-container {
        margin: 40px auto;
        padding: 20px;
    }
    .weather-app {
        padding: 30px 40px;
    }
    .search-input {
        width: 83%;
    }
    .current-city {
        font-size: 35px;
    }
    .current-temperature-value {
        font-size: 50px;
    }
    .current-temperature-unit {
        font-size: 22px;
        top: -21px;
    }
}

@media (max-width: 560px) {
    .current-weather {
        display: flex;
        flex-direction: column-reverse;
    }
    .current-temperature {
        margin-bottom: 15px;
    }
    .city-info {
        width: 100%;
    }
    .current-details {
        justify-content: center;
    }
    .current-city {
        text-align: center;
    }
    .current-status {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .main-container {
        margin: 20px auto;
        padding: 15px;
    }
    .weather-app {
        padding: 20px;
    }
    .search-input {
        width: 85%;
        padding-left: 15px;
    }
    .search-button {
        padding-left: 13px;
        padding-right: 13px;
        display: flex;
        align-items: center;
    }
    .search-button img {
        margin-right: 0px;
    }
    .search-text {
        display: none;
    }
    .current-city {
        font-size: 32px;
    }
    .current-temperature-value {
        font-size: 60px;
    }
    .current-details {
        font-size: 14px;
    }
}
